<div class="rest-general-page" ng-controller="smsMainCtrl">
    <!--USER SMS PANEL *START*-->
    <div class="rest-general-list col-xs-12">

        <!--clear button-->
        <div style="float: left; font-style: normal" ng-if="currentProject.smsCollection.length">
            <button class="btn btn-primary btn-sm" ng-click="clearAllSms()">CLEAR ALL</button>
        </div>
        <!--clear button-->

        <!--sms panel-->
        <div class="info-glass-panel">
            <hr>
            <div class="sms-panel">
                <ul ng-repeat="msg in currentProject.smsCollection">
                    <li>
                        <span class="sms-author">{{msg.author}}</span>
                        <span class="sms-time">({{msg.date | date : "dd.MM.yy - hh:mm"}})</span>
                        <span class="sms-text">: {{msg.text}}</span>
                    </li>
                </ul>
                <ul ng-if="!currentProject.smsCollection.length">
                    <li>
                        <span class="sms-empty">НЕТ СООБЩЕНИЙ</span>
                    </li>
                </ul>
            </div>
            <hr>
        </div>
        <!--sms panel-->

    </div>
    <!--USER SMS PANEL *END*-->
</div>
