<div class="guests-list-main">

    <!--FIANCE SIDE *START*-->
    <div class="fiance-side-main-g">
        <!--top menu-->
        <nav class="no-print">
            <div ng-if="currentUser.isAuth" style="float: left">
                <button class="btn btn-warning sort-btn" data-target="#guest-add" data-toggle="modal" ng-click="guests.guestSide('M')"> <span class="glyphicon glyphicon-plus"></span></button>
            </div>
            <div ng-if="currentUser.isAuth" style="float: left; margin-left: 15px">
                <button class="btn btn-primary btn-xs sort-btn"  ng-if="!guests.sortByTable_M" ng-click="guests.sortByTable_M = 'true'"><span class="glyphicon glyphicon-filter"></span> по столам</button>
                <button class="btn btn-primary btn-xs sort-btn"  ng-if="guests.sortByTable_M" ng-click="guests.sortByTable_M = !guests.sortByTable_M"><span class="glyphicon glyphicon-filter"></span> по группам</button>
            </div>
            <div class="btn-group" ng-if="currentUser.isAuth" style="float: left; margin-left: 20px">
                <button class="btn btn-default btn-xs"  ng-click="guests.drinks_M = true; guests.notes_M = false"><span class="glyphicon glyphicon-glass"></span> drinks</button>
                <button class="btn btn-default btn-xs"  ng-click="guests.notes_M = true; guests.drinks_M = false"><span class="glyphicon glyphicon-list-alt"></span> notes</button>
            </div>
            <div class="btn-group" ng-if="currentUser.isAuth" style="float: left; margin-left: 20px">
                <button ng-if="guests.drinks_M || guests.notes_M" class="btn btn-success btn-xs sort-btn"  ng-click="guests._clear('M')"><span class="glyphicon glyphicon-refresh"></span> reset</button>
            </div>
        </nav>
        <!--top menu-->

        <!--header-->
        <header class="guests-fiance-side text-center">
            <h4 class="guests-side-head text-right">СТОРОНА ЖЕНИХА</h4>
        </header>
        <!--header-->

        <!--guests table-->
        <section>
            <table class="table info-glass-panel table-responsive" style="min-width: 580px">
                <thead class="guest-side-table-head">
                    <tr style="color: white">
                        <th class="text-center">№</th>
                        <th >Имя</th>
                        <th class="text-center">Отношение</th>
                        <th ng-if="guests.drinks_M" class="text-center" colspan="3">Будет пить</th>
                        <th ng-if="guests.notes_M" class="text-center" colspan="3">Заметки</th>

                        <th ng-if="!guests.drinks_M && !guests.notes_M" class="text-center" ng-class="!guests.sortByTable_M ? 'sort-mark' : 'null'">№ группы</th>
                        <th ng-if="!guests.drinks_M && !guests.notes_M" class="text-center" ng-class="guests.sortByTable_M ? 'sort-mark' : 'null'">№ стола</th>
                        <th ng-if="!guests.drinks_M && !guests.notes_M" class="text-center"><span class="glyphicon glyphicon-check"></span></th>
                    </tr>
                </thead>

                <tbody>
                    <!-- fiance -->
                    <tr class="guest">
                        <td class="text-center">1</td>
                        <td>{{currentProject.fianceName | uppercase}}</td>
                        <td class="text-center">жених</td>
                        <td ng-if="!guests.drinks_M && !guests.notes_M" class="text-center" ng-class="!guests.sortByTable_M ? 'sort-mark' : 'null'">0</td>
                        <td ng-if="!guests.drinks_M && !guests.notes_M" class="text-center" ng-class="guests.sortByTable_M ? 'sort-mark' : 'null'">1</td>
                        <td ng-if="!guests.drinks_M && !guests.notes_M" class="text-center">
                            <span class="glyphicon glyphicon-check"></span>
                        </td>
                    </tr>

                    <!--body by Group -->
                    <tr ng-if="!guests.sortByTable_M" ng-class="guest.guestWillBe ? 'guest' : 'guest-abs'" ng-repeat="guest in currentProject.fianceSideGuests | orderBy : 'group'">
                        <td class="text-center">{{$index+2}}</td>
                        <td>
                            <a class="guest-link"
                               ng-class="guest.guestWillBe ? 'guest' : 'guest-abs'"
                               data-toggle="modal" data-target="#guest-edit"
                               ng-click="guests.guestEdit(currentProject.fianceSideGuests.indexOf(guest), 'M')">
                                {{guest.name | uppercase}}
                            </a>
                        </td>
                        <td class="text-center">{{guest.relation  | lowercase}}</td>
                        <td ng-if="!guests.drinks_M && !guests.notes_M" class="text-center" ng-class="guest.guestWillBe ? 'sort-mark' : 'null'">{{guest.group}}</td>
                        <td ng-if="!guests.drinks_M && !guests.notes_M" class="text-center">{{guest.table}}</td>
                        <td ng-if="!guests.drinks_M && !guests.notes_M" class="text-center">
                            <span ng-if="guest.guestWillBe" class="glyphicon glyphicon-check"></span>
                            <span ng-if="!guest.guestWillBe" class="glyphicon glyphicon-unchecked"></span>
                        </td>

                        <th ng-if="guests.drinks_M" class="text-center" colspan="3">{{guest.drinks}}</th>
                        <th ng-if="guests.notes_M" class="text-center" colspan="3">{{guest.notes}}</th>
                    </tr>

                    <!--body by Table -->
                    <tr ng-if="guests.sortByTable_M" ng-class="guest.guestWillBe ? 'guest' : 'guest-abs'" ng-repeat="guest in currentProject.fianceSideGuests | orderBy : 'table'">
                        <td class="text-center">{{$index+2}}</td>
                        <td>
                            <a class="guest-link"
                               ng-class="guest.guestWillBe ? 'guest' : 'guest-abs'"
                               data-toggle="modal" data-target="#guest-edit"
                               ng-click="guests.guestEdit(currentProject.fianceSideGuests.indexOf(guest), 'M')">
                                {{guest.name | uppercase}}
                            </a>
                        </td>
                        <td class="text-center">{{guest.relation  | lowercase}}</td>
                        <td ng-if="!guests.drinks_M && !guests.notes_M" class="text-center">{{guest.group}}</td>
                        <td ng-if="!guests.drinks_M && !guests.notes_M" class="text-center" ng-class="guest.guestWillBe ? 'sort-mark' : 'null'">{{guest.table}}</td>
                        <td ng-if="!guests.drinks_M && !guests.notes_M" class="text-center">
                            <span ng-if="guest.guestWillBe" class="glyphicon glyphicon-check"></span>
                            <span ng-if="!guest.guestWillBe" class="glyphicon glyphicon-unchecked"></span>
                        </td>

                        <th ng-if="guests.drinks_M" class="text-center" colspan="3">{{guest.drinks}}</th>
                        <th ng-if="guests.notes_M" class="text-center" colspan="3">{{guest.notes}}</th>
                    </tr>

                </tbody>
            </table>
        </section>
        <!--guests table-->
    </div>
    <!--FIANCE SIDE *END*-->

    <!--FIANCEE SIDE *START*-->
    <div class="fiancee-side-main-g">
        <!--top menu-->
        <nav class="no-print">
            <div ng-if="currentUser.isAuth" style="float: left">
                <button class="btn btn-warning sort-btn" data-target="#guest-add" data-toggle="modal" ng-click="guests.guestSide('W')"> <span class="glyphicon glyphicon-plus"></span></button>
            </div>
            <div ng-if="currentUser.isAuth" style="float: left; margin-left: 30px">
                <button class="btn btn-primary btn-xs sort-btn"  ng-if="!guests.sortByTable_W" ng-click="guests.sortByTable_W = 'true'"><span class="glyphicon glyphicon-filter"></span>  по столам</button>
                <button class="btn btn-primary btn-xs sort-btn"  ng-if="guests.sortByTable_W" ng-click="guests.sortByTable_W = !guests.sortByTable_W"><span class="glyphicon glyphicon-filter"></span> по группам</button>
            </div>
            <div class="btn-group" ng-if="currentUser.isAuth" style="float: left; margin-left: 20px">
                <button class="btn btn-default btn-xs"  ng-click="guests.drinks_W = true; guests.notes_W = false;"><span class="glyphicon glyphicon-glass"></span> drinks</button>
                <button class="btn btn-default btn-xs"  ng-click="guests.notes_W = true; guests.drinks_W = false;"><span class="glyphicon glyphicon-list-alt"></span> notes</button>
            </div>
            <div class="btn-group" ng-if="currentUser.isAuth" style="float: left; margin-left: 20px">
                <button ng-if="guests.drinks_W || guests.notes_W" class="btn btn-success btn-xs sort-btn"  ng-click="guests._clear('W')"><span class="glyphicon glyphicon-refresh"></span> reset</button>
            </div>
        </nav>
        <!--top menu-->

        <!--header-->
        <header class="guests-fiancee-side text-center">
            <h4 class="guests-side-head text-right">СТОРОНА НЕВЕСТЫ</h4>
        </header>
        <!--header-->

        <!--guests table-->
        <section>
            <table class="table info-glass-panel" style="min-width: 580px">

                <thead class="guest-side-table-head2">
                    <tr style="color: white">
                        <th class="text-center">№</th>
                        <th >Имя</th>
                        <th class="text-center">Отношение</th>
                        <th ng-if="guests.drinks_W" class="text-center" colspan="3">Будет пить</th>
                        <th ng-if="guests.notes_W" class="text-center" colspan="3">Заметки</th>

                        <th ng-if="!guests.drinks_W && !guests.notes_W" class="text-center" ng-class="!guests.sortByTable_W ? 'sort-mark' : 'null'">№ группы</th>
                        <th ng-if="!guests.drinks_W && !guests.notes_W" class="text-center" ng-class="guests.sortByTable_W ? 'sort-mark' : 'null'">№ стола</th>
                        <th ng-if="!guests.drinks_W && !guests.notes_W" class="text-center"><span class="glyphicon glyphicon-check"></span></th>
                    </tr>
                </thead>

                <tbody>
                    <!-- fiancee -->
                    <tr class="guest">
                        <td class="text-center">1</td>
                        <td>{{currentProject.fianceeName | uppercase}}</td>
                        <td class="text-center">невеста</td>
                        <td ng-if="!guests.drinks_W && !guests.notes_W" class="text-center" ng-class="!guests.sortByTable_W ? 'sort-mark' : 'null'">0</td>
                        <td ng-if="!guests.drinks_W && !guests.notes_W" class="text-center" ng-class="guests.sortByTable_W ? 'sort-mark' : 'null'">1</td>
                        <td ng-if="!guests.drinks_W && !guests.notes_W" class="text-center">
                            <span class="glyphicon glyphicon-check"></span>
                        </td>
                    </tr>

                    <!--body by Group -->
                    <tr ng-if="!guests.sortByTable_W" ng-class="guest.guestWillBe ? 'guest' : 'guest-abs'" ng-repeat="guest in currentProject.fianceeSideGuests | orderBy : 'group'">
                        <td class="text-center">{{$index+2}}</td>
                        <td>
                            <a class="guest-link"
                               ng-class="guest.guestWillBe ? 'guest' : 'guest-abs'"
                               data-toggle="modal" data-target="#guest-edit"
                               ng-click="guests.guestEdit(currentProject.fianceeSideGuests.indexOf(guest), 'W')">
                                {{guest.name | uppercase}}
                            </a>
                        </td>
                        <td class="text-center">{{guest.relation  | lowercase}}</td>
                        <td ng-if="!guests.drinks_W && !guests.notes_W" class="text-center" ng-class="guest.guestWillBe ? 'sort-mark' : 'null'">{{guest.group}}</td>
                        <td ng-if="!guests.drinks_W && !guests.notes_W" class="text-center">{{guest.table}}</td>
                        <td ng-if="!guests.drinks_W && !guests.notes_W" class="text-center">
                            <span ng-if="guest.guestWillBe" class="glyphicon glyphicon-check"></span>
                            <span ng-if="!guest.guestWillBe" class="glyphicon glyphicon-unchecked"></span>
                        </td>

                        <th ng-if="guests.drinks_W" class="text-center" colspan="3">{{guest.drinks}}</th>
                        <th ng-if="guests.notes_W" class="text-center" colspan="3">{{guest.notes}}</th>
                    </tr>

                    <!--body by Table -->
                    <tr ng-if="guests.sortByTable_W" ng-class="guest.guestWillBe ? 'guest' : 'guest-abs'" ng-repeat="guest in currentProject.fianceeSideGuests | orderBy : 'table'">
                        <td class="text-center">{{$index+2}}</td>
                        <td>
                            <a class="guest-link"
                               ng-class="guest.guestWillBe ? 'guest' : 'guest-abs'"
                               data-toggle="modal" data-target="#guest-edit"
                               ng-click="guests.guestEdit(currentProject.fianceeSideGuests.indexOf(guest), 'W')">
                                {{guest.name | uppercase}}
                            </a>
                        </td>
                        <td class="text-center">{{guest.relation  | lowercase}}</td>
                        <td ng-if="!guests.drinks_W && !guests.notes_W" class="text-center">{{guest.group}}</td>
                        <td ng-if="!guests.drinks_W && !guests.notes_W" class="text-center" ng-class="guest.guestWillBe ? 'sort-mark' : 'null'">{{guest.table}}</td>
                        <td ng-if="!guests.drinks_W && !guests.notes_W" class="text-center">
                            <span ng-if="guest.guestWillBe" class="glyphicon glyphicon-check"></span>
                            <span ng-if="!guest.guestWillBe" class="glyphicon glyphicon-unchecked"></span>
                        </td>

                        <th ng-if="guests.drinks_W" class="text-center" colspan="3">{{guest.drinks}}</th>
                        <th ng-if="guests.notes_W" class="text-center" colspan="3">{{guest.notes}}</th>
                    </tr>

                </tbody>

            </table>
        </section>
        <!--guests table-->
    </div>
    <!--FIANCEE SIDE *END*-->

</div>


<!-- ADD  GUEST MODAL *START* -->
<div ng-if="currentUser.isAuth" id="guest-add" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">close</button>
                <h4 class="modal-title">ДОБАВИТЬ</h4>
            </div>

            <div class="modal-body wed-modals">
                <div class="add-new-proj-main">
                    <form name="addGuestForm" novalidate ng-submit="">
                        <div>
                            <div class="form-group">
                                <label>Имя</label>
                                <input class="form-control" ng-model="guest.name"
                                       type="text" required ng-minlength='1'
                                       name="guestEditName" ng-class="(addGuestForm.guestEditName.$invalid)? 'invalid-input' : 'null'">
                            </div>
                            <div class="form-group">
                                <label>Отношение</label>
                                <input class="form-control" ng-model="guest.relation"
                                       type="text" required ng-minlength='1' list="guestRelationList"
                                       name="guestEditRelation" ng-class="(addGuestForm.guestEditRelation.$invalid)? 'invalid-input' : 'null'">
                            </div>
                            <div class="form-group">
                                <label>№ Группы</label>
                                <input class="form-control" ng-model="guest.group" type="number" required
                                       name="guestEditGroup" ng-class="(addGuestForm.guestEditGroup.$invalid)? 'invalid-input' : 'null'">
                            </div>
                            <div class="form-group">
                                <label>№ Стола</label>
                                <input class="form-control" ng-model="guest.table" type="number" required
                                       name="guestEditTable" ng-class="(addGuestForm.guestEditTable.$invalid)? 'invalid-input' : 'null'">
                            </div>
                            <hr>
                            <div class="form-group">
                                <label>Будет пить:</label>
                                <input class="form-control" ng-model="guest.drinks"
                                       type="text" list="spiritsList"
                                       name="guestEditDrink" >
                            </div>
                            <div class="form-group">
                                <label>Заметки</label>
                                <input class="form-control" ng-model="guest.notes"
                                       type="text"
                                       name="guestEditNotes" >
                            </div>
                            <hr>

                            <button type="submit" class="btn btn-success btn-block"
                                    ng-disabled="addGuestForm.$invalid" data-dismiss="modal"
                                    ng-click="guests.addNewGuest(guest)">
                                <b>ПРИНЯТЬ</b>
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- ADD GUEST MODAL *END* -->

<!-- EDIT  GUEST MODAL *START* -->
<div ng-if="currentUser.isAuth" id="guest-edit" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">close</button>
                <h4 class="modal-title">РЕДАКТИРОВАНИЕ</h4>
            </div>

            <div class="modal-body wed-modals">
                <div class="add-new-proj-main">
                    <form name="guestDataEdit" novalidate ng-submit="">
                        <div>
                            <div class="form-group">
                                <label>Имя</label>
                                <input class="form-control" ng-model="guests.guestUnderEdit.name"
                                       type="text" required ng-minlength='1'
                                       name="guestEditName" ng-class="(guestDataEdit.guestEditName.$invalid)? 'invalid-input' : 'null'">
                            </div>
                            <div class="form-group">
                                <label>Отношение</label>
                                <input class="form-control" ng-model="guests.guestUnderEdit.relation"
                                       type="text" required ng-minlength='1' list="guestRelationList"
                                       name="guestEditRelation" ng-class="(guestDataEdit.guestEditRelation.$invalid)? 'invalid-input' : 'null'">
                            </div>
                            <div class="form-group">
                                <label>№ Группы</label>
                                <input class="form-control" ng-model="guests.guestUnderEdit.group" type="number" required
                                       name="guestEditGroup" ng-class="(guestDataEdit.guestEditGroup.$invalid)? 'invalid-input' : 'null'">
                            </div>
                            <div class="form-group">
                                <label>№ Стола</label>
                                <input class="form-control" ng-model="guests.guestUnderEdit.table" type="number" required
                                       name="guestEditTable" ng-class="(addGuestForm.guestEditTable.$invalid)? 'invalid-input' : 'null'">
                            </div>
                            <hr>
                            <div class="form-group">
                                <label>Будет пить:</label>
                                <input class="form-control" ng-model="guests.guestUnderEdit.drinks"
                                       type="text" list="spiritsList"
                                       name="guestEditDrink" >
                            </div>
                            <div class="form-group">
                                <label>Заметки</label>
                                <input class="form-control" ng-model="guests.guestUnderEdit.notes"
                                       type="text"
                                       name="guestEditNotes" >
                            </div>
                            <hr>
                            <div class="form-group">
                                <label>
                                    <input type="checkbox"
                                           name="guestEditWillBe"
                                           class="ch-box"
                                           style="margin-right: 5px; margin-left: 3px"
                                           ng-model="guests.guestUnderEdit.guestWillBe"
                                    >Будет в ресторане</label>
                            </div>
                            <div class="form-groupS">
                                <input type="button"
                                       class="btn btn-xs btn-danger guest-del-btn"
                                       ng-click="guests.guestDelete(guests.guestUnderEdit)"
                                       value="удалить"
                                       data-dismiss="modal"
                                       ng-disabled="guests.guestUnderEdit.guestWillBe">
                            </div>

                            <button type="submit" class="btn btn-success btn-block"
                                    ng-disabled="guestDataEdit.$invalid" data-dismiss="modal"
                                    ng-click="guests.guestEditDone(guests.guestUnderEdit.side)">
                                <b>ПРИНЯТЬ</b>
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- EDIT GUEST MODAL *END* -->

<datalist id="guestRelationList">
    <option value="отец">отец</option>
    <option value="мать">мать</option>
    <option value="дедушка">дедушка</option>
    <option value="бабушка">бабушка</option>
    <option value="брат">брат</option>
    <option value="брат 2Д">брат 2Д</option>
    <option value="сестра">сестра</option>
    <option value="сестра 2Д">сестра 2Д</option>
    <option value="дядя">дядя</option>
    <option value="дядя 2Д">дядя 2Д</option>
    <option value="тетя">тетя</option>
    <option value="тетя 2Д">тетя 2Д</option>
    <option value="крестный">крестный</option>
    <option value="крестная">крестная</option>
    <option value="муж сестры">муж сестры</option>
    <option value="жена брата">жена брата</option>
    <option value="племянник">племянник</option>
    <option value="племянница">племянница</option>
    <option value="свидетель">свидетель</option>
    <option value="друг близкий">друг  близкий</option>
    <option value="друг детства">друг  детства</option>
    <option value="друг">друг</option>
    <option value="коллега">коллега</option>
    <option value="гость">гость</option>
    <option value="родственник">родственник</option>
   

</datalist>

<datalist id="spiritsList">
    <option value="Водка">Водка</option>
    <option value="Коньяк">Коньяк</option>

    <option value="Вино белое сух">Вино белое сух</option>
    <option value="Вино белое п/слд">Вино белое п/слд</option>
    <option value="Вино белое  слд">Вино белое  слд</option>

    <option value="Вино красное сух">Вино красное сух</option>
    <option value="Вино красное п/слд">Вино красное п/слд</option>
    <option value="Вино красное слд">Вино красное слд</option>

    <option value="Шампанское сух">Шампанское сух</option>
    <option value="Шампанское п/слд">Шампанское п/слд</option>
    <option value="Шампанское слд">Шампанское слд</option>

    <option value="Пиво свет">Пиво свет</option>
    <option value="Пиво тёмн">Пиво тёмн</option>
    <option value="Пиво б/а">Пиво б/а</option>

    <option value="Виски">Виски</option>
    <option value="Ром">Ром</option>
    <option value="Текилла">Текилла</option>

    <option value="БЕЗАЛКОГОЛЬ">БЕЗАЛКОГОЛЬ</option>


</datalist>



<!--NOTES  *START*-->
<div ng-if="currentUser.isAuth" class="rest-general-page no-print">
    <div class="rest-general-list" style="margin-top: 15px">
        <div class="info-glass-panel" style="margin-left: 15px; ">
            <hr>
            <div>
                <p>
                    <button class="btn btn-default" style="margin-right: 15px" data-target="#guestsNotes" data-toggle="modal"> <span class="glyphicon glyphicon-edit"></span></button>
                    Заметки:
                </p>
                <ul ng-repeat="note in notesFilter(currentProject.guestsNotes)" style="padding: 0; list-style: none">
                    <li style="font-size: 90%"><span class="rest-info-data">{{'- ' + note}}</span></li>
                </ul>
            </div>
            <hr>
        </div>
    </div>
</div>
<!--NOTES  *END*-->

<!-- NOTES MODAL *START* -->
<div id="guestsNotes" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">close</button>
                <h4 class="modal-title">ЗАМЕТКИ</h4>
            </div>

            <div class="modal-body wed-modals">
                <div class="add-new-proj-main">
                    <form>
                        <div>
                            <div class="form-group" style="margin-top: 10px">
                                <label></label>
                                <textarea class="form-control" ng-model="currentProject.guestsNotes" placeholder="Каждую новую заметку начинайте с символа (*) и с новой строки"></textarea>
                            </div>
                            <hr>
                            <button type="submit" class="btn btn-success btn-block"
                                    data-dismiss="modal"
                                    ng-click="noteSave()">
                                <b>СОХРАНИТЬ</b>
                            </button>
                        </div>
                    </form>
                    <div class="deco-farames text-center">
                        <div>
                            <img src="img/frame1.png" alt="deco-frame" style="width: 150px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- NOTES MODAL *END* -->