.wed-project-body-right{
    border-left: 1px solid #feffef;
    padding-left: 15px;
}
.info-panel-budget{
    width: 100%;
    display: block;
    background: rgba(37, 17, 144, 0.24);
    padding: 3px 0px;
    border-bottom: 1px solid #ffffff;
}
.info-panel-budget div{
    text-align: center;
    display: inline-block;
    padding: 3px 0;
    font-style: italic;
    font-weight: bold;
    font-size: 100%;
}
.info-panel-budget div div{
    margin-right: 20px
}
.info-panel-dyn-good{
    color: rgb(25, 239, 182);
}
.report-panel{
   padding-top: 4px;
}
.report-panel table{
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    margin-top: 2px !important;
}